@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre:wght@400;500;700&display=swap%27');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    background-color: #e5e5e5;
    font-family: 'fira sans';
}

h1, h2 {
    font-family: 'Frank Ruhl Libre';
}

.content button {
    border: none;
    background-color: #ffffff;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    font-family: 'fira sans';
    font-size: 10px;
    font-weight: 700;
    border-radius: 50px;
    padding: 0.9rem 2.8rem;
    margin-left: -9rem;
    margin-top: 2.5rem
}

.content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.content .covered {
    height: 540px;
    background-color: #C7DDEA;
    grid-column: 1 /  span 3;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.content .covered h1 {
    color: #000000;
    font-size: 45px;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 4rem 5rem 0 7rem;
}

.content .covered p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding: 0 8rem 0 7rem;
}

.content .covered span {
    color: #ffffff;
}


.content .covered img {
    width: 285px;
    bottom: 0;
    right: 10px;
    position: absolute;
}

.content .learn-more {
    height: 270px;
    background-color: #F17949;
    grid-column: 4 / span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .join-today {
    height: 270px;
    background-color: #FFB939;
    grid-column: 4 / span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .learn-more h5, .content .join-today h5 {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 50%;
    margin-bottom: 0;
}

.content .learn-more h2, .content .join-today h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0.02em;
    margin-top: 0;
}

.content nav {
    height: 70px;
    grid-column: 2 / span 4;
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.content nav a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4); 
    width: fit-content;
    margin: auto;
}

.content nav a:hover {
    color: #000000;
}


.content .main {
    height: 1300px;
    background-color: #A9A19E;
    grid-row: 4 / span 1;
    grid-column: 1 / span 6;
}
.content .main h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    line-height: 1;
}
.content .main p {
    line-height: 2;
}

.content .main .top {
    height: 50%;
    background-color: #A9A19E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 4%;
}
.content .main .top > * {
    width: 50%;
    padding: 7%;
}
.content .main .top button {
    margin:0;
}
.content .main .top aside h1 {
    margin-top: 40px;
}
.content .main .top p {
    margin-top: 40px;
}

.content .main .bottom {
    height: 50%;
    background-color: #fab131;
    text-align: center;
    padding: 10% 25%;
}


.content .tutorial {
    background-color: #fff;
    height: 340px;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    position: relative;
}

.content .tutorial h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-size: 45px;
    font-weight: 900;
}

.content .tutorial h2 {
    color: rgba(0, 0, 0, 0.4);
    font-size: 35px;
    font-weight: 900;
    position: absolute;
    top: -15px;
    left: 20px;
}

.content .tutorial p {
    text-align: center;
    margin:0;
    font-weight: 500;
}

.content .zero {
    background-color: #C7DDEA;
}

.content .two {
    background-color: #ebebeb;
}

.content .four {
    background-color: #F17949;
}


.content footer {
    height: 410px;
    background-color: #777574;
    grid-column: 1 / span 6;
}

.content footer .up {
    background-color: #A9A19E;
    height: 70px;
    text-align: center;
    line-height: 0;
    font-weight: 500;
}

.content footer .up img {
    margin-bottom: -10px;
}

