@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre:wght@400;500;700;900&display=swap%27');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    background-color: #e5e5e5;
    font-family: 'fira sans';
}

/* GENERAL */
h1, h2 {
    font-family: 'Frank Ruhl Libre';
}

.content nav {
    height: 70px;
    grid-column: 2 / span 4;
    grid-row: 3 / span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.content nav a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4); 
    width: fit-content;
    margin: auto;
}

.content nav .nav-active {
    color: #000000;
}

.content nav .nav-active:hover {
    text-decoration: none;
}

.content nav a:hover {
    text-decoration: underline;
}

.content button {
    border: none;
    background-color: #ffffff;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    font-family: 'fira sans';
    font-size: 10px;
    font-weight: 700;
    border-radius: 50px;
    padding: 0.9rem 2.8rem;
    margin-left: -9rem;
    margin-top: 2.5rem
}

.content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}


/* HOME */
.home .covered {
    height: 540px;
    background-color: #C7DDEA;
    grid-column: 1 /  span 3;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.home .covered h1 {
    color: #000000;
    font-size: 45px;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: -0.02em;
    margin: 0;
    padding: 4rem 5rem 0 7rem;
}

.home .covered p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding: 0 8rem 0 7rem;
}

.home .covered span {
    color: #ffffff;
}


.home .covered img {
    width: 285px;
    bottom: 0;
    right: 10px;
    position: absolute;
}

.home .learn-more {
    height: 270px;
    background-color: #F17949;
    grid-column: 4 / span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .join-today {
    height: 270px;
    background-color: #FFB939;
    grid-column: 4 / span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .learn-more h5, .home .join-today h5 {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 50%;
    margin-bottom: 0;
}

.home .learn-more h2, .home .join-today h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0.02em;
    margin-top: 0;
}

.home .main {
    height: 1300px;
    background-color: #A9A19E;
    grid-row: 4 / span 1;
    grid-column: 1 / span 6;
    position: relative;
}
.home .main h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    line-height: 1;
}
.home .main p {
    line-height: 2;
}

.home .main .top {
    height: 50%;
    background-color: #A9A19E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 4%;
}
.home .main .top > * {
    width: 50%;
    padding: 7%;
}
.home .main .top button {
    margin:0;
}
.home .main .top aside h1 {
    margin-top: 40px;
}
.home .main .top p {
    font-size: 14px;
    margin-top: 40px;
    line-height: 24px;
}

.home .main .bottom {
    height: 50%;
    background-color: #fab131;
    text-align: center;
    padding: 10% 28%;
    padding-top: 15%;
}
.home .main .bottom p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.6);
}

.home .main .cards {
    padding: 0 5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 1;
    bottom: 39%;
}

.home .main .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 255px;
    height: 310px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 5px;
}

.home .main .cards .card figure {
    width: 235px;
    height: 150px;
    position: absolute;
    top: -45px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home .main .cards .card:nth-child(1) figure img {
    position: absolute;
    top: 15px;
    width: 36%;
}

.home .main .cards .card:nth-child(2) figure img {
    position: absolute;
    top: 15px;
    width: 41%;
}

.home .main .cards .card:nth-child(3) figure img {
    position: absolute;
    top: 20px;
    width: 60%;
}

.home .main .cards .card p {
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: -0.5rem;
    margin-bottom: 40px;
    padding: 0 1.3rem;
}

.home .main .cards .card .children-background {
    background-color: #C7DDEA;
}

.home .main .cards .card .just-right-background {
    background-color: #fab131;
}

.home .main .cards .card .old-fart-background {
    background-color: #f17949;
}


.home .tutorial {
    background-color: #fff;
    height: 340px;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    position: relative;
}

.home .tutorial h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-size: 45px;
    font-weight: 900;
}

.home .tutorial h2 {
    color: rgba(0, 0, 0, 0.4);
    font-size: 35px;
    font-weight: 900;
    position: absolute;
    top: -15px;
    left: 20px;
}

.home .tutorial p {
    text-align: center;
    margin:0;
    font-weight: 500;
}

.home .zero {
    background-color: #C7DDEA;
}

.home .two {
    background-color: #ebebeb;
}

.home .four {
    background-color: #F17949;
}


.home footer {
    height: 410px;
    background-color: #777574;
    grid-column: 1 / span 6;
}

.home footer .up {
    background-color: #A9A19E;
    height: 70px;
    text-align: center;
    line-height: 0;
    font-weight: 500;
}

.home footer .up img {
    margin-bottom: -10px;
}



.contact {
    background-color: #ffffff;
}

.contact header {
    background-color: #C7DDEA;
    height: 340px;
    grid-column: 1 /span 6;
}

.contact nav {
    grid-column: 2 / span 4;
    grid-row: 2 / span 1;
}

.contact .form {
    height: 545px;
    background-color: #A9A19E;
    grid-column: 1 / span 6;
    grid-row: 3;
}

.contact .location {
    height: 405px;
    grid-row: 4;
    grid-column: 1 / span 6;
    background-image: url("/assets/map-contact.png");
}

.contact footer {
    background-color: #777574;
    height: 340px;
    grid-row: 5;
    grid-column: 1 / span 6;
}




